<!DOCTYPE html>
<html lang="en">
    <!-- head content -->
    <% include partials/head %>
<body>
    <!-- navbar -->
    <% include partials/navbar %>

    <!-- Footer -->
    <% include partials/footer %>
</body>
</html>